@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black: #0D2436;
  --white: #FFFFFF;
  --grey1: #CCCCCC;
  --grey2: #34AC9C;
  --green: #009B86;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.ttf');
}

button {
  cursor: pointer;
}

body {
  max-width: 768px;
  margin: 0 auto;
  background-color: var(--white);
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
}